/* Importerar CSS FONTS*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto&display=swap');

/* Generell styling för alla element på sidan */

* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto', sans-serif;

}


/* Kod nedan behövs, annars blir det white space under footern */

html, body {
    width: 100%;
    height: 100%;
    min-height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    position: relative;
}

img {
    object-fit: cover;
}

#text_index {
    padding-left: 10px;
}

#text_index_2 {
    position: absolute;
    top: 30px;
    padding-left: 20px;
}

#text_index, #text_index_2, #text_index_420, #text_index_420_2, #text_index_300, #text_index_300_2, #text_index_200, #text_index_200_2 {
    display: none;
}

#image_shadow {
    height: 70%!important;
}

/* Styling för scrollbar som endast gäller för
enheter med minsta bredd på 800px, med andra ord endast för
Desktop. */


@media only screen and (min-width: 800px) {

    ::-webkit-scrollbar {
        width: 10px;
    }
    ::-webkit-scrollbar-track {
        background: #f1f1f1; 
    }
    ::-webkit-scrollbar-thumb {
        background: #888; 
    }

    ::-webkit-scrollbar-thumb:hover {
        background: #555; 
    }
}

/* Styling för Desktop layout */

/* Generell styling för alla sidor (Desktop) */

header {
    grid-area: he;
    display: flex;
    position: relative;
    height: 150px;
    justify-content: space-between;
    align-items: center;
    background-color: #dd3636;
    box-shadow: 0px 1px 0 #939393;
}

#logo_desktop {
    position: absolute;
    left: 3%;
    margin-top: 10px;
}

#logo_mobil {
    display: none;
}

#telefon {
    position: relative;
    top: 2px;
    right: 5px;
}

#telefon_nummer {
    position: absolute;
    right: 3%;
    top: 42%;
    color: white;
    font-size: 25px;
    font-weight: bold;
    letter-spacing: 1px;
}

#fresh_fruit {
    transform: translate(-50%, -50%);
    position: absolute;
    top: 50%;
    left: 50%;
    color: white;
    font-size: 35px;
}

#nav_desktop {
    grid-area: na;
    background-color: darkred;
    position: sticky;
    top: 0;
    z-index: 2;
    box-shadow: -1px 1px 0 #939393;
    display: flex;
    align-items: center;
}

#nav_mobil {
    display: none;
}

.mobil-links {
    display: none;
}

#slogan {
    position: absolute;
    left: 2%;
    color: white;
    font-size: 25px;
    font-weight: bold;
    letter-spacing: 1px;
}

#slogan_mobil {
    position: relative;
    left: 200px;
    color: white;
    font-size: 25px;
    font-weight: bold;
    letter-spacing: 1px;
}

.links_desktop {
    display: flex;
    position: absolute;
    right: 3%;
    list-style-type: none;
    z-index: 2;
}

.links_desktop a {
    padding: 0px 10px 0px 10px;
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
}

.links_desktop a:hover {
    text-decoration: underline;
}

.lines {
    display: none;
}

.lines div {
    background-color: white;
    height: 4px;
    width: 33px;
    margin: 5px;
    border-radius: 10%;
    transition: all 0.3s;
}

.lines:hover {
    cursor: pointer;
}

.toggle .line-1 {
    transform: rotate(-45deg) translate(-6px, 7px);
}

.toggle .line-2 {
    opacity: 0;
}

.toggle .line-3 {
    transform: rotate(45deg) translate(-6px, -6px);
}

#page_name {
    color: black;
    font-size: 24px;
    font-weight: normal;
}

#page_name:hover {
    text-decoration: none;
}

footer {
    grid-area: fo;
    background-color: black;
    color: white;
    padding-bottom: 30px;
}

#company_name_parent {
    display: flex;
    justify-content: flex-start;
}

#company_name {
    position: relative;
    font-style: bold;
    left: 10px;
    margin: 10px 0px 10px 0px;
    padding-bottom: 5px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    width: 100%;
    font-weight: normal;
}

#documentation_link_parent {
    margin-bottom: 6px;
    display: flex;
    justify-content: center;
}

#documentation_link {
    display: inline-block;
    position: relative;
    top: 5px;
    text-decoration: none;
    color: white;
    font-size: 25px;
    cursor: pointer;
}

#documentation_link:hover {
    text-decoration: underline;
    cursor: pointer;
}

#copyright_parent {
    display: flex;
    justify-content: center;
}

#copyright {
    position: relative;
    font-size: 18px;
}

/* Styling för index.html (Desktop) */

#grid_wrapper_index {
    display: grid;
    width: 100vw;
    height: 100vh;
    gap: 0;
    grid-template-columns: 1fr;
    grid-template-rows: auto 60px 600px 620px 1fr; 
    grid-template-areas:
    "he"
    "na"
    "a1"
    "a2"
    "fo";
    }
    
#article_1_index {
    grid-area: a1;
    position: relative;
    text-align: center;
    overflow:hidden;
    background-color: white;
    border-radius: 20px;
    margin: 14px;
}

#article_1_index p, h1 {
    position: absolute;
}

#apples {
    z-index: 0;
    background-size: cover;
    width: 100%;
    height: 800px;
    border-radius: 10px;
}

#image_shadow {
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 70%;
    word-wrap: break-word;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    z-index: 0;
    font-size: 16px;
    background-color: rgba(34, 34, 34, 0.7);
    color: white;
}

#stycke_1, #stycke_2 {
    width: 100%;
    height: 100%;
    word-wrap: break-word;
}

#stycke_2 {
    position: absolute;
    top: 50%;
}

#banner_rubrik, #banner_rubrik_2 {
    position: absolute;
    top: 8px;
    left: 16px;
    font-weight: normal;
}

#text_index, #text_index_2 {
    text-align: left;
    padding: 40px 200px 0px 10px;
}

#text_desktop, #text_desktop_2 {
    top: 15%;
    padding-left: 10px!important;
}

#article_2_index {
    display: block;
    grid-area: a2;
    background-color: darkred;
    position: relative;
}

#article_2_index p, h1 {
    position: absolute;
}

#watermelon {
    background-size: cover;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
}

#image_shadow_2 {
    position: absolute;
    bottom: 0px;
    width: 50%;
    height: 100%;
    z-index: 0;
    background-color: rgba(34, 34, 34, 0.7);
    color: white;
}

#image_title {
    position: absolute;
    right: 50%;
    top: 100px;
    transform: translate(50%,-50%);
    font-weight: normal;
    font-size: 34px;
    letter-spacing: 1px;
}

#image_text {
    top: 180px;
    text-align: center;
}

#image_text_2 {
    top: 300px;
    text-align: center;
}

#image_text_3 {
    top: 450px;
    text-align: center;
}
#image_text , #image_text_2, #image_text_3{
    padding: 0px 20px 0px 10px;
}
/* Styling för kontakt.html (Desktop) */

#grid_wrapper_kontakt {
    display: grid;
    width: 100vw;
    height: auto;
    gap: 0;
    grid-template-columns: 1fr auto;
    grid-template-rows: auto 60px 400px auto 1fr; 
    grid-template-areas:
    "he"
    "na"
    "s1"
    "s2"
    "fo";
    }

#section_1_kontakt {
    grid-area: s1;
    font-weight: bold;
    background-color: #e3e3e3;
    padding-left: 10px;
}

#section_1_kontakt h2 {
    position: relative;
    top: 30px;
    margin: 0px;
}

#section_1_kontakt h3 {
    position: relative;
    top: 50px;
    margin: 0px;
    font-size: 23px;
}

#section_1_kontakt p {
    position: relative;
    font-size: 22px;
}

#kontakt_mail {
    font-size: 22px;
    top: 70px;
}

#kontakt_telefon {
    top: 100px;
}

#kontakt_adress {
    top: 120px;
}

#karta {
    top: 170px;
}

#section_2_kontakt {
    grid-area: s2;
}

#iframe {
        width: 100%;
        height: 450px;
}

/* Styling för bilder.html (Desktop) */

#grid_wrapper_bilder {
    display: grid;
    width: 100vw;
    height: 100vh;
    gap: 0;
    grid-template-columns: 1fr;
    grid-template-rows: auto 60px auto 1fr; 
    grid-template-areas:
    "he"
    "na"
    "s1"
    "fo";
    }

#section_1_bilder {
    grid-area: s1;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: rgb(188 186 194);
}

.fruit_images {
    width: 300px;
    height: 250px;
    border-radius: 10px;
    margin: 10px;
}

/* Styling för produkter.html (Desktop) */

#grid_wrapper_produkter {
    display: grid;
    width: 100vw;
    height: 100vh;
    gap: 0;
    grid-template-columns: 1fr;
    grid-template-rows: auto 60px auto 1fr; 
    grid-template-areas:
    "he"
    "na"
    "se"
    "fo";
    }

#section_produkter {
    display: grid;
    width: 100vw;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 3fr 3fr 3fr 3fr;
    grid-template-areas:
    "h1 h1"
    "i1 t1 "
    "i2 t2"
    "i3 t3"
    "i4 t4";
}

.produkt_beskrivning_mobil {
    display: none;
}

.produkt_bilder {
    margin: 5px;
}

.produkt_bilder img {
    width: 100%;
    height: 100%;
}

.produkt_info {
    margin: 5px;
    position: relative;
    overflow-y: scroll;
}

.produkt_info h2 {
    position: relative;
    margin: 10px;
}

.produkt_beskrivning {
    position: relative;
    margin: 10px;
    top: 20px;
    font-weight: bold;
    font-size: 22px;
}

.produkt_beskrivning h2 {
    font-size: 22px;
    padding-top: 10px;
}

.produkt_beskrivning p {
    font-weight: normal;
    font-size: 18px;
    position: relative;
    top: 10px;
}

.produkt_pris {
    position: relative;
    top: 10px;
}

#name {
    grid-area: h1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightskyblue;
    margin: 10px;
}

#name h2 {
    font-size: 30px;
}

#produkt1 {
    grid-area: i1;
}

#produkt_info_1 {
    grid-area: t1;
    background-color: lightgreen;
}

#produkt2 {
    grid-area: i2;
}

#produkt_info_2 {
    grid-area: t2;
    background-color: #ffd95f;
}

#produkt3 {
    grid-area: i3;
}

#produkt_info_3 {
    grid-area: t3;
    background-color: lightskyblue;
}

#produkt4 {
    grid-area: i4;
}

#produkt_info_4 {
    grid-area: t4;
    background-color: #ff7373;
}

#footer_produkter {
    margin-top: 5px;
}

/* Styling för jobba_hos_oss.html (Desktop) */

#grid_wrapper_jobb {
    display: grid;
    width: 100vw;
    gap: 0;
    grid-template-columns: 1fr;
    grid-template-rows: auto 60px 200px auto 1fr; 
    grid-template-areas:
    "he"
    "na"
    "ar"
    "se"
    "fo";
    }

#article_jobb {
    grid-area: ar;
    background-color: rgb(187, 184, 184);
}

#article_jobb h2, h3 {
    position: relative;
    margin: 10px;
}

#article_jobb h3 {
    top: 20px;
    font-size: 20px
}

#section_jobb {
    grid-area: se;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas: 
    "t1 i1"
    "i2 t2"
    "t3 i3";
}

#tasks {
    text-align: center;
    position: relative;
    top: 60px;
}

.titles {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.titles p {
    margin: 10px;
}

.work_tasks {
    position: relative;
    font-size: 23px;
    text-align: center;
}

#title_1 {
    grid-area: t1;
    background-color: lightsalmon;
}

#image_holder_1 {
    grid-area: i1;
    background-color: lightsalmon;
}

#title_2 {
    grid-area: t2;
    background-color: rgb(71, 231, 124);
}

#image_holder_2 {
    grid-area: i2;
    background-color: rgb(71, 231, 124);
}

#title_3 {
    grid-area: t3;
    background-color: lightyellow;
}

#image_holder_3 {
    grid-area: i3;
    background-color: lightyellow;
}

/* Styling av bilderna */

.images {
    position: relative;
    margin: 10px 0px 10px 0px;
    display: block;
    margin-left: auto;
    margin-right: auto;
} 

#image_1 {
    width: 300px;
    height: 300px;
}


/* Styling för mobil layout med Media queries */

@media only screen and (max-width: 900px)  {

/* Generell styling för alla mobilsidor */

header {
    display: block;
    width: 100%;
    height: 90px;
    position: relative;
}

#logo_desktop {
    display: none;
}

#logo_mobil {
    display: block;
    position: absolute;
    left: 5%;
    top: 20%;
    width: auto;
}

#fresh_fruit {
    display: none;
}

#telefon {
    top: 5px;
    right: 10px;
}

#telefon_nummer {
    position: absolute;
    right: 5%;
    top: 40%;
    font-size: 22px;
    letter-spacing: 0px;
}

#nav_desktop {
    display: none;
}

#nav_mobil {
    display: block;
    position: relative;
    background-color: darkred;
}

#slogan_mobil {
    position:absolute;
    top: 20%;
    left: 5%;
    font-size: 20px;
    letter-spacing: 0px;
}

.mobil-links {
    display: block;
    position: absolute;
    left: -300%;  
    height: 100%;
    width: 230px;
    background-color: white;
    list-style-type: none;
    transition: all 0.7s;
    box-shadow: 0 0 20px rgb(0 0 0 / 30%);
    z-index: 3;
}

.mobil-links a {
    display: inline-block;
    padding: 10px 0px 0px 0px;
    width: 100%;
    margin-left: 14px;
    color: darkred;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
}

.nav-active {
    left:0;
    transition: all 0.7s;
    z-index: 4;
}

.lines {
    display: block;
    position: absolute;
    right: 5%;
    bottom: 20%;
}

.lines:hover {
    cursor: initial;
}

.lines div {
    height: 3px;
    width: 25px;
}

.toggle .line-1 {
    transform: rotate(-45deg) translate(-5px, 6px);
    cursor: pointer;
}

.toggle .line-3 {
    transform: rotate(45deg) translate(-5px, -6px);
    cursor: pointer;
}

/* Styling för index.html (Mobilsida) */

#grid_wrapper_index {
grid-template-columns: 1fr;
grid-template-rows: auto 50px 500px 1fr; 
grid-template-areas:
"he"
"na"
"a1"
"fo" ;
}

#article_1_index {
    border-radius: 0px;
    background-color: white;
    margin: 10px;
}

#apples {
    height: 100%;
    width: 100%;
}

#image_shadow {
    height: 50%;
}

#banner_rubrik {
    top: 20px;
}

#banner_rubrik_2 {
    top: 3px;
}

#text_index {
    display: block;
    top: 15%;
    padding-left: 10px!important;
}

#text_index_2 {
    display: block;
    padding-left: 10px!important;
}

#text_index_420 {
    display: none;
}

#text_index_420_2 {
    display: none;
}

#text_desktop, #text_desktop_2 {
    display: none;
}

#article_2_index {
    display: none;
}

/* Styling för kontakt.html (Mobilsida) */

#grid_wrapper_kontakt {
    grid-template-columns: 1fr;
    grid-template-rows: auto 50px 520px auto 1fr; 
    height: 100vh;
    grid-template-areas:
    "he"
    "na"
    "s1"
    "s2"
    "fo" ;
    }

/* Styling för bilder.html (Mobilsida) */

#grid_wrapper_bilder {
    grid-template-columns: 1fr;
    grid-template-rows: auto 50px auto 1fr; 
    height: 100vh;
    grid-template-areas:
    "he"
    "na"
    "s1"
    "fo" ;
    }

/* Styling för produkter.html (Mobilsida) */

#grid_wrapper_produkter {
    grid-template-rows: auto 50px auto 1fr; 
}

#name h2 {
    font-size: 22px;
}

.produkt_beskrivning {
    display: none;
}

.produkt_pris {
    top: -5px;
}

.produkt_beskrivning_mobil {
    display: block;
    bottom: 10px;
    font-weight: bold;
    font-size: 16px;
    margin: 10px;
}

.produkt_beskrivning_mobil p {
    font-weight: normal;
    font-size: 16px;
}

#bild_1 {
    height: 200px;
}

#bild_2 {
    height: 200px;
}

#bild_3 {
    height: 200px;
}

#bild_4 {
    height: 200px;
}

.produkt_info {
    height: 200px;
}

/* Styling för jobba_hos_oss.html (Mobilsidan) */

    #grid_wrapper_jobb {
        grid-template-rows: auto 60px auto auto 1fr; 
    }

    #article_jobb h1, h2 {
        font-size: 18px;
    }

    #article_jobb h2 {
        top: 0px;
    }

    #tasks h1 {
        margin: 0px;
        bottom: 65px;
    }

    .work_tasks {
        font-size: 20px;
    }

    #section_jobb {
        display: block;
    }

    #image_holder_1 {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #image_holder_2 {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #image_holder_3 {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #article_1_index p, h2 {
        padding: 0px;
    }

    #tasks {
        display:none;
    }
    #article_jobb {
        height: 140px;
    }
}

/* Ytterliggare en styling för mobil layout med Media queries så att vissa layout inte kraschar (Små skärmar med liten bredd) */

/* Media query max 420px */

@media only screen and (max-width: 420px) {

    #text_index {
        display: none;
    }

    #text_index_2 {
        display: none;
    }

    #text_index_420, #text_index_420_2 {
        display: block;
        top: 15%;
        padding-left: 10px!important;
    }

    .fruit_images {
        width: 90%;
    }

    #article_jobb {
        height: 160px;
    }
}

@media only screen and (max-width: 300px) {

    #banner_rubrik {
        font-size: 18px;
    }

    #banner_rubrik_2 {
        font-size: 18px;
    }

    #text_index_420 {
        display: none;
    }

    #text_index_420_2 {
        display: none;
    }

    #text_index_300 {
        display: block;
        top: 15%;
        padding-left: 10px!important;
    }

    #text_index_300_2 {
        display: block;
        top: 20%;
        padding-left: 10px!important;
    }

    .fruit_images {
        width: 100%;
    }

    #article_jobb {
        height: 170px;
    }

    #slogan_mobil {
        display: none;
    }

    #telefon_nummer {
        display: none;
    }

    .nav-active {
        left: 0;
        top: 21%;
        width: 100%;
        transition: all 0.7s;
        z-index: 4;
    }
    
    .mobil-links {
        top: 21%;
    }

    .titles p {
        font-size: 4vw;
    }

    #article_jobb {
        height: auto;
    }

    .image_holder img {
        width: 70vw!important;
        height: 40vh!important;
    }

    #article_jobb h1, h2 {
        font-size: 6vw;
    }

    .work_tasks {
        font-size: 6vw;
    }
}

@media only screen and (max-width: 200px) {
    
    #text_index_300 {
        display: none;
    }

    #text_index_300_2 {
        display: none;
    }

    #banner_rubrik_2 {
        top: -20px;
    }

    #text_index_200, #text_index_200_2 {
        display: block;
        top: 15%;
    }

    .image_holder img {
        width: 80vw!important;
        height: 20vh!important;
    }

    #article_jobb h1, h2 {
        font-size: 10vw;
    }

    .work_tasks {
        font-size: 10vw;
    }
}