/* Generell styling för alla element på sidan */
* {
    margin: 0;
    padding: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

/* Styling för mobil layout med Media queries */

@media only screen and (max-width: 400px) {

    /* Styling för index.html sidan */

    #grid_wrapper_index {
    display: grid;
    width: 100vw;
    height: 100vh;
    grid-template-columns: 1fr;
    grid-template-rows: 50px 50px 1fr 1fr 1fr 1fr;
    grid-gap: 0;
    grid-template-areas:
    "he"
    "na"
    "s1"
    "s2"
    "di"
    "fo" ;
    }

    #header_index {
        grid-area: he;
    }

    #nav_index {
        grid-area: na;
    }

    .lines {
        position: relative;
        left: 330px;
        bottom: 10px;
    }

    #telefon {
        position: relative;
        top: 7px;
    }

    #information {
        position: relative;
        left: 180px;
        font-size: 11px;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }

    #slogan {
        position: relative;
        top: 10px;
        left: 10px;
        font-size: 20px;
        color: #097D35;
    }

    .lines div {
        background-color: black;
        height: 3px;
        width: 25px;
        margin: 5px;
        border-radius: 10%;
        transition: all 0.3s;
    }
    
    .lines:hover {
        cursor: pointer;
    }
    
    .toggle .line-1 {
        transform: rotate(-45deg) translate(-5px, 6px);
    }
    
    .toggle .line-2 {
        opacity: 0;
    }
    
    .toggle .line-3 {
        transform: rotate(45deg) translate(-5px, -6px);
    }

    .nav-links {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        height: 100%;
        width: 230px; 
        position: absolute;  
        left: -65vw;  
        background-color: rgb(62, 253, 126);
        transition: all 0.2s;
    }

    .nav-active {
        transform: translateX(65vw);
    }
    
    .nav-links li {
        list-style: none;
    }
    
    .nav-links a {
        color: black;
        text-decoration: none;
        font-size: 20px;
        letter-spacing: 3px;
        font-weight: bold;
        text-transform: uppercase;
    }

    #section_1_index {
        grid-area: s1;
        text-align: center;
        background: lightcoral
    }

    #section_2_index {
        grid-area: s2;
        text-align: center;
        background: lightgreen;
    }

    #div_index {
        grid-area: di;
        text-align: center;
        background: lightgoldenrodyellow;
    }

    #footer_index {
        grid-area: fo;
        text-align: center;
        background: lightskyblue;
    }

}

/* Styling för desktop layout  */

